  <footer role="contentinfo" class="footer" ng-class="::{'footer--process': process}"> 
    <div ng-hide="::process" class="footer-content"> 
     <div class="container"> 
      <div xk-section-styles="xk-component xk-section-base "></div> 
       <sly data-sly-resource="${'links' @ resourceType='latamHomeApp/components/content/listadoLinksFooter'}"></sly>
      <!--cq{"decorated":false,"type":"latamApp/components/section/listadoLinksFooter","path":"/content/latam/latam/es_cl/check-in-y-otros-servicios/jcr:content/footer/linkslist","selectors":null,"servlet":"Script /apps/latamApp/components/section/base/html.jsp","totalTime":54,"selfTime":54}--> 
      <div xk-section-styles="xk-component xk-section-base "></div> 
      <!--cq{"decorated":false,"type":"latamApp/components/section/mediosDePago","path":"/content/latam/latam/es_cl/check-in-y-otros-servicios/jcr:content/footer/mediosdepago","selectors":null,"servlet":"Script /apps/latamApp/components/section/base/html.jsp","totalTime":27,"selfTime":27}--> 
      <div xk-section-styles="xk-component xk-section-base "></div> 
      <!--cq{"decorated":false,"type":"latamApp/components/section/textoLegal","path":"/content/latam/latam/es_cl/check-in-y-otros-servicios/jcr:content/footer/legalText","selectors":null,"servlet":"Script /apps/latamApp/components/section/base/html.jsp","totalTime":27,"selfTime":27}--> 
      <div xk-section-styles="xk-component xk-section-base "></div> 
      <div class="row footer-socialRow"> 
       <div class="footer-awardsAndCerts hidden-xs hidden-sm col-md-6 col-lg-6"> 
        <div class="footer-awardsAndCertsBlock"> 
         <h4 class="footer-headLineH4">Sitio certificado por:</h4> 
         <ul class="footer-unorderedList footer-unorderedList--awards"> 
          <li class="footer-unorderedItem--awards"> <a class="footer-awardsLink" href="https://sealsplash.geotrust.com/splash?&amp;dn=www.lan.com" target="_blank" title="Secured"> <img class="footer-processCertificateImage" data-ptm-src="/content/dam/LATAM/latam-marca-unica/logos-footer/download.png" alt="GeoTrust"> <span class="sr-only">Secured</span> </a> </li> 
         </ul> 
        </div> 
        <div class="footer-awardsAndCertsBlock"> 
         <h4 class="footer-headLineH4">Asociado:</h4> 
         <ul class="footer-unorderedList footer-unorderedList--awards"> 
          <li class="footer-unorderedItem--awards"> <a class="footer-awardsLink" href="https://www.latam.com" target="_self" title="Sello ProPyme"> <img class="footer-processCertificateImage" data-ptm-src="/content/dam/LATAM/latam-marca-unica/logos-footer/70x65xlogo-pro-pyme.png.pagespeed.gp+jp+pj+js+rj+rp+rw+ri+cp+md.ic.8Uq5E4XRwE.png" alt="Pro Pyme"> <span class="sr-only">Sello ProPyme</span> </a> </li> 
         </ul> 
        </div> 
        <div class="footer-awardsAndCertsBlock"> 
         <h4 class="footer-headLineH4">Premios</h4> 
         <ul class="footer-unorderedList footer-unorderedList--awards"> 
          <li class="footer-unorderedItem--awards"> <a class="footer-awardsLink" href="https://www.latam.com" target="_self" title="Premio Skytrax"> <img class="footer-processCertificateImage" data-ptm-src="/content/dam/LATAM/latam-marca-unica/logos-footer/xaward-icon.png" alt="Skytrax"> <span class="sr-only">Premio Skytrax</span> </a> </li> 
         </ul> 
        </div> 
       </div> 
       <div class="footer-socialNetworkLinks col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
        <div class="footer-socialLinks"> 
         <h4 class="footer-headLineH4 footer-socialHeader"> Síguenos en </h4> 
         <ul class="footer-unorderedList--social list-inline"> 
          <li class="footer-unorderedItem--social "> <a class="footer-unorderedLink" href="https://www.facebook.com/LATAMChile/" target="_blank" title="Facebook"> <span class="icon-small footer-icon--medium" ng-class="::{'icon-facebook': true}"></span> <span class="sr-only">Facebook</span> </a> </li> 
          <li class="footer-unorderedItem--social "> <a class="footer-unorderedLink" href="https://twitter.com/LATAM_CHI" target="_blank" title="Twitter"> <span class="icon-small footer-icon--medium" ng-class="::{'icon-twitter': true}"></span> <span class="sr-only">Twitter</span> </a> </li> 
          <li class="footer-unorderedItem--social "> <a class="footer-unorderedLink" href="https://www.youtube.com/user/lanairlines" target="_blank" title="Youtube"> <span class="icon-small footer-icon--medium" ng-class="::{'icon-youtube': true}"></span> <span class="sr-only">Youtube</span> </a> </li> 
          <li class="footer-unorderedItem--social  hidden-xs hidden-sm"> <a class="footer-unorderedLink" href="https://www.instagram.com/latamairlines/" target="_blank" title="Instagram"> <span class="icon-small footer-icon--medium" ng-class="::{'icon-instagram': true}"></span> <span class="sr-only">Instagram</span> </a> </li> 
          <li class="footer-unorderedItem--social  hidden-xs hidden-sm"> <a class="footer-unorderedLink" href="https://www.linkedin.com/company/latam_airlines" target="_blank" title="Linkedin"> <span class="icon-small footer-icon--medium" ng-class="::{'': true}"></span> <span class="sr-only">Linkedin</span> </a> </li> 
         </ul> 
        </div> 
       </div> 
      </div> 
      <!--cq{"decorated":false,"type":"latamApp/components/section/redesSociales","path":"/content/latam/latam/es_cl/check-in-y-otros-servicios/jcr:content/footer/redessociales","selectors":null,"servlet":"Script /apps/latamApp/components/section/base/html.jsp","totalTime":36,"selfTime":36}--> 
     </div> 
    </div> 
    <div xk-section-styles="xk-component xk-section-base "></div> 
    <div class="footer-process"> 
     <div class="container container-md-height"> 
      <div class="row"> 
       <div ng-hide="::process" class="col-xs-12 hidden-sm hidden-md hidden-lg footer-contentLinks"> 
        <div class="container"> 
         <div class="row"> 
          <div class="col-xs-12"> 
           <ul class="list-inline footer-unorderedList"> 
            <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com" target="_self" title="Conócenos">Conócenos</a> </li> 
            <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com" target="_self" title="Información legal">Información legal</a> </li> 
            <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="http://portal.lan.com/portal/web/stafftravel/tus-pasajes-latam" target="_blank" title="Staff Travel">Staff Travel</a> </li> 
           </ul> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="footer-brand col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-push-9 col-md-push-9 col-md-push-9"> 
        <a href="https://www.latam.com" target="_self" title="Volver al home"> <img data-ptm-src="/static/latam/images/design-image/latam/logo-footer.svg" alt="Logo LATAM"> </a> 
       </div> 
       <div class="footer-copyArea col-xs-12 col-sm-9 col-md-9 col-lg-9 col-sm-pull-3 col-md-pull-3 col-lg-pull-3"> 
        <div class="footer-processCopy col-md-12 col-lg-12"> 
         <p class="footer-paragraph--copy footer-copyright footer-paragraph--smToBlock">© 2017 LATAM Airlines Chile</p> 
         <p class="footer-paragraph--copy footer-copyright hidden-sm hidden-md hidden-lg">Todos los derechos reservados.</p> 
         <p class="footer-paragraph--copy footer-paragraph--smToInline hidden-xs">Av. Américo Vespucio 901, Renca, Santiago de Chile</p> 
         <p class="footer-paragraph--copy footer-paragraph--smToInline hidden-xs">600 526 2000</p> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <!--cq{"decorated":false,"type":"latamApp/components/section/bottomFooter","path":"/content/latam/latam/es_cl/check-in-y-otros-servicios/jcr:content/footer/legalFooter","selectors":null,"servlet":"Script /apps/latamApp/components/section/base/html.jsp","totalTime":34,"selfTime":34}--> 
   </footer> 
