.lt-icon-ar-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -85px -120px;
  width: 17px;
  height: 11px;
}
.lt-icon-ar {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: 0px -100px;
  width: 30px;
  height: 20px;
}
.lt-icon-au-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -51px -120px;
  width: 17px;
  height: 11px;
}
.lt-icon-au {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -30px -20px;
  width: 30px;
  height: 20px;
}
.lt-icon-br-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -17px -120px;
  width: 17px;
  height: 11px;
}
.lt-icon-br {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -30px -40px;
  width: 30px;
  height: 20px;
}
.lt-icon-ca-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -99px;
  width: 17px;
  height: 11px;
}
.lt-icon-ca {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -60px -20px;
  width: 30px;
  height: 20px;
}
.lt-icon-cl-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -77px;
  width: 17px;
  height: 11px;
}
.lt-icon-cl {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: 0px -60px;
  width: 30px;
  height: 20px;
}
.lt-icon-co-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -30px -100px;
  width: 17px;
  height: 11px;
}
.lt-icon-co {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -60px -60px;
  width: 30px;
  height: 20px;
}
.lt-icon-de-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -33px;
  width: 17px;
  height: 11px;
}
.lt-icon-de {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -90px -20px;
  width: 30px;
  height: 20px;
}
.lt-icon-ec-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -11px;
  width: 17px;
  height: 11px;
}
.lt-icon-ec {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -90px -60px;
  width: 30px;
  height: 20px;
}
.lt-icon-es-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -98px -100px;
  width: 17px;
  height: 11px;
}
.lt-icon-es {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -30px -80px;
  width: 30px;
  height: 20px;
}
.lt-icon-eu-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -64px -100px;
  width: 17px;
  height: 11px;
}
.lt-icon-eu {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -90px -80px;
  width: 30px;
  height: 20px;
}
.lt-icon-fr-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -47px -100px;
  width: 17px;
  height: 11px;
}
.lt-icon-fr {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: 0px 0px;
  width: 30px;
  height: 20px;
}
.lt-icon-it-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -55px;
  width: 17px;
  height: 11px;
}
.lt-icon-it {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -60px -80px;
  width: 30px;
  height: 20px;
}
.lt-icon-mx-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -81px -100px;
  width: 17px;
  height: 11px;
}
.lt-icon-mx {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: 0px -80px;
  width: 30px;
  height: 20px;
}
.lt-icon-nz-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px 0px;
  width: 17px;
  height: 11px;
}
.lt-icon-nz {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -90px -40px;
  width: 30px;
  height: 20px;
}
.lt-icon-otros_paises-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -22px;
  width: 17px;
  height: 11px;
}
.lt-icon-otros_paises {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -90px 0px;
  width: 30px;
  height: 20px;
}
.lt-icon-pe-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -44px;
  width: 17px;
  height: 11px;
}
.lt-icon-pe {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -30px -60px;
  width: 30px;
  height: 20px;
}
.lt-icon-pr-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -66px;
  width: 17px;
  height: 11px;
}
.lt-icon-pr {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -60px -40px;
  width: 30px;
  height: 20px;
}
.lt-icon-sa-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -120px -88px;
  width: 17px;
  height: 11px;
}
.lt-icon-sa {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -60px 0px;
  width: 30px;
  height: 20px;
}
.lt-icon-ue-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: 0px -120px;
  width: 17px;
  height: 11px;
}
.lt-icon-ue {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: 0px -40px;
  width: 30px;
  height: 20px;
}
.lt-icon-uk-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -34px -120px;
  width: 17px;
  height: 11px;
}
.lt-icon-uk {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: 0px -20px;
  width: 30px;
  height: 20px;
}
.lt-icon-uy-small {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -68px -120px;
  width: 17px;
  height: 11px;
}
.lt-icon-uy {
  background-image: url(/static/latam/images/design-image/sprites/icon-sprite.png?date=20160927);
  background-position: -30px 0px;
  width: 30px;
  height: 20px;
}
