.Header {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.Header-title {
  color: red;
}
.Header-sr {
  width: 100%;
  height: auto;
  background: #fff;
  display: block;
}
.Header-sr-container {
  width: 960px;
  margin: 0 auto;
}
.Header-sr-container .row .col-xs-12,
.Header-sr-container .row .col-sm-12,
.Header-sr-container .row .col-md-12 {
  min-height: 0;
}
.Header-sr-only {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 100%;
  Color: #004e96;
  text-decoration: underline;
  padding: 10px;
  border: 1px solid #004e96;
  margin: 10px 0;
  display: inline-block;
}
.Header-sr-only:hover,
.Header-sr-only:focus {
  text-decoration: underline;
  margin: 10px 0;
}
.Header-sr-only:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Header-container--relative {
  position: relative;
}
.Header-complementaryList {
  margin: 0;
  font-size: 0;
  padding: 0;
}
.Header-complementaryItem {
  color: #838383;
  font-size: 13px;
  display: inline-block;
}
.Header-complementaryLink {
  padding-right: 6px;
  padding-left: 6px;
  display: block;
}
.Header-complementaryLink:hover,
.Header-complementaryLink:focus {
  text-decoration: underline;
}
.Header-complementaryDivider {
  padding-right: 13px;
  padding-left: 6px;
  font-size: 13px;
  color: #838383;
}
.Header-complementaryDivider:first-child {
  padding-left: 0;
}
.Header-complementaryDivider:before {
  display: block;
  content: "|";
  width: 0px;
  color: #838383;
}
.Header-helpIcon {
  top: -0.3em;
}
.Header-helpLabel {
  margin-left: 7px;
}
.Header-stepBar--white {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(163, 163, 163, 0.57);
  box-shadow: 0px 1px 3px 0px rgba(163, 163, 163, 0.57);
}
.Header-stepBar--wPadding {
  padding: 15px 10px;
}
.Header-stepBar--stick {
  position: absolute;
  z-index: 300;
  width: 100%;
}
.Header-cookie {
  border-bottom: 1px solid #666666;
  background: #fff;
  position: relative;
  z-index: 101;
}
.Header-cookieMessage {
  font-size: 10.5px;
  padding: 0;
}
.Header-cookieMessage a {
  color: #004e96;
  text-decoration: underline;
}
.Header-cookieMessage p:first-child,
.Header-cookieMessage h1:first-child,
.Header-cookieMessage h2:first-child,
.Header-cookieMessage h3:first-child,
.Header-cookieMessage h4:first-child,
.Header-cookieMessage h5:first-child,
.Header-cookieMessage h6:first-child,
.Header-cookieMessage ol:first-child,
.Header-cookieMessage ul:first-child,
.Header-cookieMessage blockquote:first-child,
.Header-cookieMessage strong:first-child {
  margin-top: 10px;
}
.Header-cookieMessage p:last-child,
.Header-cookieMessage h1:last-child,
.Header-cookieMessage h2:last-child,
.Header-cookieMessage h3:last-child,
.Header-cookieMessage h4:last-child,
.Header-cookieMessage h5:last-child,
.Header-cookieMessage h6:last-child,
.Header-cookieMessage ol:last-child,
.Header-cookieMessage ul:last-child,
.Header-cookieMessage blockquote:last-child,
.Header-cookieMessage strong:last-child {
  margin-bottom: 10px;
}
.Header-cookieClose {
  margin-top: 14px;
  margin-bottom: 14px;
  padding-right: 0;
  text-align: right;
}
.Header-cookieCloseButton {
  width: 24px;
  height: 24px;
  margin-top: 60px;
  border: 0;
  color: #fff;
  background: #fff url("/static/latam/images/design-image/close-modal.svg");
  cursor: pointer;
}
.Header-logo {
  font-size: 0.1px;
}
.Header-logoBlock {
  display: inline-block;
  vertical-align: middle;
}
.Header-logoLink {
  margin-right: 25px;
}
.Header-logoOneWorld {
  margin-right: 0;
}
.Header-logoImg {
  width: 102px;
}
.Header-logoImg--sub {
  max-width: 30px;
  max-height: 30px;
}
.Header-actions {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Header-actionIcon:before {
  color: #666666;
}
.Header-actionLink {
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;
}
.Header-actionLink:last-child {
  margin-right: 0;
}
.Header-actionLink.isOpen:after {
  background-color: #fff;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -42px;
  left: 3px;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(163, 163, 163, 0.3);
  box-shadow: 2px 2px 3px 0 rgba(163, 163, 163, 0.3);
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
}
.Header-actionLinkBurger {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/static/latam/images/design-image/burger.svg) no-repeat center center;
}
.Header-processNumber {
  display: none;
}
.Header-contactLink {
  margin-left: 0;
}
.Header-stepBar--main {
    height: 0;
}
@media (min-width: 960px) {
  .Header-menu {
    float: right;
    height: 70px;
  }
  .Header-logo {
    height: 70px;
    line-height: 70px;
    position: relative;
    padding-right: 0;
  }
  .Header-logoImg {
    width: auto;
  }
  .Header-logoImg--sub {
    max-width: 30px;
    max-height: 30px;
  }
  .Header-shadow {
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    height: auto;
  }
  .Header-shadow .col-xs-height {
    /* reset bootstrap paddings */
    padding: 0;
  }
  .Header-stepBar--white {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
  }
  .Header-stepBar--wPadding {
    padding: 0;
  }
  .Header-stepBar--inverse {
    background: #e3e3e3;
    -webkit-filter: none;
    filter: none;
  }
  .Header-stepBar--inverse .Header-shadow {
    background: none;
    -webkit-filter: none;
    filter: none;
  }
  .Header-stepBar--whiteInverse {
    background: #fff;
  }
  .Header-actionLink {
    display: none;
  }
  .Header-logoLink {
    margin-right: 15px;
  }
  .Header-logoOneWorld {
    position: absolute;
  }
  .Header-complementaryLink {
    color: #fff;
  }
  .Header-complementaryLink:hover,
  .Header-complementaryLink:focus {
    color: #fff;
  }
  .Header-complementaryLink--inverse {
    color: #666666;
  }
  .Header-complementaryLink--inverse:hover,
  .Header-complementaryLink--inverse:focus {
    color: #838383;
  }
  .Header-complementaryDivider:before {
    color: #fff;
  }
  .Header-complementaryDivider--inverse:before {
    color: #838383;
  }
  .Header-complementaryDivider--inverse:hover:before {
    color: #838383;
  }
  .Header-cookie {
    border: 0;
  }
  .Header-cookieClose {
    padding-right: 10px;
  }
  .Header-cookieCloseButton {
    width: 48px;
    height: 48px;
  }
}
.Header-processNumber {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
  font-size: 13px;
  color: #999999;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Header-processNumberIcon {
  font-size: 16px;
  color: #999999;
  margin-right: 10px;
  margin-top: -4px;
}
.Header-content {
  width: 100%;
}
.Header-firstRow {
  margin-right: 0;
}
.Header-sr-container {
  width: auto;
}
.Header-sr-only {
  font-family: "Latam-Sans-Regular", arial, sans-serif;
  font-size: 1em;
  line-height: 100%;
  color: #1b0088;
  text-decoration: underline;
  padding: 10px;
  border: none;
  margin: 10px 0;
}
.Header-sr-only:focus {
  margin: 10px 0;
}
.Header-cookieCloseButton:focus {
  outline: 2px solid #1b0088;
}
.Header-processNumber {
  line-height: 36px;
  height: 36px;
}
.Header-processNumberIcon {
  line-height: 36px;
  height: 36px;
}
.Header-firstRowChild {
  min-height: 0;
  padding-right: 0;
}
.Header-stepBar {
  padding: 0;
}
.Header-stepBar--blue {
  background: #1b0088;
  height: 48px;
  -webkit-box-shadow: 0 1px 1.68px 1.32px rgba(0, 2, 0, 0.5);
  box-shadow: 0 1px 1.68px 1.32px rgba(0, 2, 0, 0.5);
}
.Header-stepBar--inverse {
  background: #150067;
}
.Header-logo {
  padding: 10px 0;
  height: 48px;
  line-height: 100%;
}
.Header-logoLink {
  margin-right: 0;
  width: auto;
}
.Header-logoImg {
  width: auto;
  height: 28px;
  margin-right: 24px;
}
.Header-logoImg--sub {
  max-width: 16px;
  max-height: 16px;
}
.Header-logoImg--process {
  max-width: 16px;
  max-height: 16px;
  height: 16px;
  width: auto;
}
.Header-logoOneWorld {
  position: relative;
}
.Header-complementaryLink {
  text-decoration: none;
}
.Header-complementaryLink:hover,
.Header-complementaryLink:focus {
  text-decoration: underline;
}
.Header-complementaryLink:focus {
  outline-offset: -2px;
}
.Header-actionLink.isOpen:after {
  background: transparent;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #1b0088;
  bottom: -12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 13px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.Header-actionLink--profile {
  margin-right: 0;
}
@media (min-width: 768px) {
  .Header-cookieCloseContainer {
    vertical-align: middle;
  }
  .Header-cookieCloseButton {
    background: none;
    font-size: 2.29em;
    color: #333333;
    margin-top: 0;
    width: 32px;
    height: 32px;
  }
  .Header-shadow {
    height: 36px;
  }
  .Header-stepBar {
    padding: 0 10px;
  }
  .Header-stepBar--blue {
    background: #1b0088;
    height: 62px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .Header-stepBar--inverse {
    padding: 0;
  }
  .Header-stepBar--process {
    background-color: white;
  }
  .Header-stepBar--stick {
    top: 36px;
  }
  .Header-stepBar--main {
    height: auto;
  }
  .Header-logoContainer {
    padding-left: 0;
    padding-right: 0;
  }
  .Header-logo {
    padding: 11px 0;
    height: auto;
  }
  .Header-logoOneWorld {
    width: auto;
    margin-left: 26px;
    margin-right: 0;
  }
  .Header-logoImg {
    height: 36px;
    margin-right: 0;
  }
  .Header-logoImg--sub {
    max-width: 22px;
    max-height: 22px;
  }
  .Header-logoImg--process {
    max-width: 22px;
    max-height: 22px;
    height: 22px;
    width: auto;
  }
  .Header-logoLink {
    height: auto;
    line-height: 30px;
    border: 2px solid transparent;
    margin-right: 0;
    width: auto;
  }
  .Header-logoLink:focus {
    outline-color: #b8b8b8;
  }
  .Header-complementaryList {
    float: right;
    margin-right: -10px;
  }
  .Header-complementaryItem {
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
  }
  .Header-complementaryItem--border {
    padding: 0 9px 0 9px;
  }
  .Header-complementaryItem--lastNavChild {
    border-right: 1px solid #b8b8b8;
  }
  .Header-complementaryLinkWithAnchor a {
    height: 36px;
    padding: 0;
    line-height: 36px;
    border: 2px solid transparent;
    color: #b8b8b8;
    display: block;
  }
  .Header-complementaryLinkWithAnchor a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #b8b8b8;
  }
  .Header-complementaryLinkWithAnchor a:hover,
  .Header-complementaryLinkWithAnchor a:focus {
    color: #b8b8b8;
  }
  .Header-complementaryLink {
    height: 36px;
    padding: 0;
    line-height: 36px;
    border: 2px solid transparent;
    color: #b8b8b8;
  }
  .Header-complementaryLink:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-color: #b8b8b8;
  }
  .Header-complementaryLink:hover,
  .Header-complementaryLink:focus {
    color: #b8b8b8;
  }
  .Header-complementaryLinkIcon {
    top: 0.1em;
    position: relative;
  }
  .Header-complementaryLinkIcon:before {
    margin-right: 8px;
  }
  .Header-menu {
    height: 62px;
  }
}
@media (min-width: 960px) {
  .Header-sr-container {
    width: 960px;
  }
  .Header-stepBar--blue {
    background: #1b0088;
    height: 80px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .Header-stepBar--inverse {
    background: #150067;
  }
  .Header-stepBar--process {
    background-color: white;
  }
  .Header-logoContainer {
    padding-left: 10px;
  }
  .Header-logo {
    padding: 14px 0;
    line-height: 100%;
  }
  .Header-logoImg {
    width: 100%;
    height: 48px;
  }
  .Header-logoImg--sub {
    max-width: 28px;
    max-height: 28px;
  }
  .Header-logoImg--process {
    max-width: 28px;
    max-height: 28px;
    height: 28px;
    width: auto;
  }
  .Header-mainLogo {
    width: auto;
  }
  .Header-logoOneWorld {
    position: relative;
    width: auto;
    margin-left: 35px;
    margin-right: 0;
  }
  .Header-logoOneWorld:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .Header-menu {
    height: 80px;
  }
  .Header-complementaryItem--border:last-child {
    margin-right: 10px;
  }
}
.Header .icon-int-menu {
  color: #ffffff;
}
.Header-stepBar--process .Header-logoLink:focus {
  border: 2px solid #1b0088;
}
.Header-actionLink--profile > [class*="icon-"] {
  margin-top: 10px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .Header .Header-stepBar .Header-logo .Header-logoLink:first-child {
    min-width: 156px;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
  .Header .Header-stepBar .Header-logo .Header-logoLink:first-child {
    min-width: 130px;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 960px), (-ms-high-contrast: none) and (min-width: 960px) {
  .Header .Header-stepBar .Header-logo .Header-logoLink:first-child {
    min-width: 156px;
  }
}
@supports (-ms-accelerator:true) {
  .Header-logoLink {
    max-width: 165px;
  }
  .Header-logoOneWorld {
    margin-left: 37px;
  }
}
@media (min-width: 960px) {
  .countrySelector:hover,
  .countrySelector:focus,
  .countrySelector.isHover,
  .countrySelector.isFocus {
    text-decoration: none;
    background-color: #f3f3f3;
  }
  .countrySelector.visible .countrySelector-flagLink,
  .countrySelector-flagLink:focus {
    background-color: #f3f3f3;
  }
  .countrySelector.visible .countrySelector-flagLink .countrySelector-flagCaret:before,
  .countrySelector-flagLink:focus .countrySelector-flagCaret:before {
    color: #666666;
  }
  .countrySelector-flagText {
    display: none;
  }
}
.countrySelector-flagLink {
  padding: 21px 6px;
  color: #838383;
  display: block;
  z-index: 401;
}
.countrySelector-flagLink:hover,
.countrySelector-flagLink.isHover,
.countrySelector-flagLink:focus {
  text-decoration: none;
}
.countrySelector-flagLink.isHover .countrySelector-flagCaret:before {
  content: "\e60a";
}
.countrySelector-flagImage {
  margin-right: 13px;
  -webkit-transform: scale(0.567, 0.5) translateY(4px);
  -ms-transform: scale(0.567, 0.5) translateY(4px);
  transform: scale(0.567, 0.5) translateY(4px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.countrySelector-flagCaret {
  float: none;
  vertical-align: middle;
}
.countrySelector-flagIcon {
  -webkit-transform: scale(0.567, 0.5);
  -ms-transform: scale(0.567, 0.5);
  transform: scale(0.567, 0.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.countrySelector.isOpen {
  background: #f3f3f3;
}
.countrySelector-dropDown {
  position: absolute;
  z-index: 500;
  display: none;
  overflow: hidden;
}
.countrySelector-dropDown.isOpen,
.countrySelector-dropDown.visible {
  display: block;
}
.countrySelector-ContentList {
  background: #f3f3f3;
  overflow: hidden;
}
.countrySelector-unorderedList {
  float: left;
  margin-left: 50px;
  padding: 0;
}
.countrySelector-unorderedList:first-child {
  margin-left: 0;
}
.countrySelector-unorderedItem {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 13px;
  color: #666666;
}
.countrySelector-unorderedItem--title {
  margin-bottom: 15px;
  color: #666666;
  font-weight: bolder;
}
.countrySelector-unorderedItem--sub {
  margin-top: 40px;
}
.countrySelector-unorderedLink {
  display: block;
  color: #666666;
  padding: 0;
}
.countrySelector-unorderedLink:hover,
.countrySelector-unorderedLink:focus {
  color: #838383;
  text-decoration: underline;
}
.countrySelector-unorderedFlag {
  width: 17px;
  height: 11px;
  margin-right: 15px;
}
@media only screen and (max-width: 960px) {
  .countrySelector {
    padding-right: 0;
  }
  .countrySelector.isOpen {
    display: block;
    padding: 0 25px;
    background-color: #eeeeee;
    margin: 0 -25px;
  }
  .countrySelector.isOpen:hover {
    background-color: #eeeeee;
  }
  .countrySelector.isOpen .countrySelector-flagLink {
    border-bottom: 1px solid #ccc;
  }
  .countrySelector-flagLink {
    padding: 15px 0 2px;
    position: relative;
    height: 45px;
  }
  .countrySelector-flagImage {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
  }
  .countrySelector-dropDown {
    -webkit-box-shadow: none ;
    box-shadow: none ;
    height: auto;
    margin-left: 7px;
    overflow: inherit;
    padding: 0;
    position: relative;
    width: 100%;
    left: 0px;
  }
  .countrySelector-dropDown.isOpen {
    display: block;
  }
  .countrySelector-ContentList {
    -webkit-box-shadow: none ;
    box-shadow: none ;
    background: transparent;
    overflow: hidden;
    height: auto;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .countrySelector-unorderedList {
    display: block;
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .countrySelector-unorderedItem {
    font-weight: normal;
    margin-bottom: 0;
  }
  .countrySelector-unorderedItem--title {
    font-size: 14px;
    font-weight: bold;
    padding: 11px 0 12px;
  }
  .countrySelector-unorderedLink {
    padding: 11px 0;
    font-size: 14px;
    color: #666666;
    font-weight: normal;
  }
  .countrySelector-unorderedFlag {
    width: 30px;
    height: 22px;
  }
  .countrySelector-flagIcon {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .countrySelector-flagIcon[class*="icon-"] {
    margin-right: 15px;
    margin-top: -3px;
  }
  .countrySelector-flagText {
    display: inline-block;
    font-size: 18px;
    width: 90%;
    overflow: hidden;
    padding-left: 43px;
  }
}
.countrySelector-flagCaret {
  color: #004e96;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}
@media (min-width: 768px) {
  .countrySelector-flagCaret {
    position: relative;
    top: 5px;
  }
}
@media (min-width: 960px) {
  .countrySelector.isOpen .countrySelector-flagCaret:before {
    color: #666666;
  }
}
.countrySelector-dropDown {
  -webkit-box-shadow: none ;
  box-shadow: none ;
  background: #e5e5e5;
  height: auto;
  margin-left: 0;
  overflow: inherit;
  padding-left: 10px;
  position: relative;
  width: 100%;
  left: 0;
}
.countrySelector-dropDown.isOpen {
  display: block;
}
.countrySelector-countryText {
  font-family: "Latam-Sans-Regular", arial, sans-serif;
  font-size: 1.14em;
  line-height: 100%;
  color: #666666;
  padding-left: 5px;
}
.countrySelector-flagCaret {
  color: #666666;
  padding-right: 5px;
  top: 50%;
}
.countrySelector-flagCaret:hover,
.countrySelector-flagCaret:focus {
  color: #666666;
}
.countrySelector-flagLink {
  padding-left: 10px;
  text-decoration: none;
}
.countrySelector-flagLink:hover,
.countrySelector-flagLink:focus {
  color: #666666;
}
.countrySelector-flagLink:active {
  background: #e5e5e5;
}
.countrySelector-ContentList {
  padding-left: 0;
  padding-right: 15px;
}
.countrySelector-unorderedItem--title {
  font-family: 'Latam-Sans-Bold', arial, sans-serif;
  font-size: 1.14em;
  line-height: 100%;
  color: #303030;
  text-align: Left;
}
.countrySelector-unorderedLink {
  text-decoration: none;
}
.countrySelector-unorderedLink:hover,
.countrySelector-unorderedLink:focus {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .countrySelector:hover,
  .countrySelector:focus {
    height: auto;
    background: #f0f1f0;
    border-color: #f0f1f0;
  }
  .countrySelector:focus {
    border-color: #b8b8b8;
  }
  .countrySelector-flagLink {
    padding: 0 10px 0 10px;
    border: 2px solid transparent;
    color: #b8b8b8;
    height: 36px;
  }
  .countrySelector-flagLink:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-color: #b8b8b8;
    color: #b8b8b8;
    background-color: transparent;
    line-height: 36px;
  }
  .countrySelector-flagCaret {
    padding-right: 0;
    top: 0;
  }
  .countrySelector-countryText {
    font-family: "Latam-Sans-Regular", arial, sans-serif;
    font-size: 1em;
    line-height: 100%;
    color: #b8b8b8;
    padding-left: 0;
    text-transform: uppercase;
  }
  .countrySelector-flagCaret--inverse {
    color: #b8b8b8;
  }
  .countrySelector-flagCaret--inverse:before {
    font-size: 10px;
    margin-left: 5px;
    vertical-align: text-top;
  }
  .countrySelector-dropDown {
    position: absolute;
    width: 748px;
    z-index: 400;
    padding: 0;
    display: none;
    margin-top: -1px;
    margin-left: -10px;
  }
  .countrySelector-dropDown.isOpen,
  .countrySelector-dropDown.visible {
    display: block;
    left: -108px;
    right: 10px;
  }
  .countrySelector-ContentList {
    background: #f0f1f0;
    width: 100%;
    padding: 20px 15px;
    -webkit-box-shadow: 0 1px 1.68px 1.32px rgba(0, 2, 0, 0.5);
    box-shadow: 0 1px 1.68px 1.32px rgba(0, 2, 0, 0.5);
    border: 1px solid #f3f3f2;
    border-radius: 0 0 1px 1px;
  }
  .countrySelector-unorderedItem--title {
    font-family: 'Latam-Sans-Bold', arial, sans-serif;
    font-size: 1em;
    line-height: 100%;
    color: #666666;
    text-align: Left;
  }
  .countrySelector-unorderedLink {
    font-family: "Latam-Sans-Regular", arial, sans-serif;
    font-size: 1em;
    line-height: 100%;
    color: #666666;
    text-align: Left;
    border: 2px solid transparent;
  }
  .countrySelector-unorderedLink:hover {
    text-decoration: underline;
  }
  .countrySelector-unorderedLink:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: underline;
  }
  .countrySelector-flagIcon {
    width: 30px;
    height: 20px;
  }
}
@media (min-width: 960px) {
  .countrySelector {
    width: auto;
    white-space: nowrap;
    max-width: 210px;
  }
  .countrySelector-ContentList {
    width: 960px;
  }
  .countrySelector:hover,
  .countrySelector:focus {
    height: auto;
    background: none;
    border-color: none;
  }
  .countrySelector:focus {
    border-color: #b8b8b8;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .countrySelector-flagLink:hover {
    background: #f0f1f0;
    color: #150067;
    border: 2px solid #f0f1f0;
  }
  .countrySelector-countryText {
    font-family: "Latam-Sans-Regular", arial, sans-serif;
    font-size: 1em;
    line-height: 100%;
    color: #b8b8b8;
    margin-right: 0;
    padding-right: 0;
  }
  .countrySelector-flagCaret {
    padding-right: 0;
  }
  .countrySelector-flagCaret--inverse:before {
    color: #b8b8b8;
    font-size: 10px;
    margin-left: 5px;
    vertical-align: text-top;
  }
  .countrySelector-dropDown {
    position: absolute;
    background: transparent;
    width: 970px;
    z-index: 400;
    padding: 0 20px 20px 20px;
    display: block;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    left: -177px;
    top: 37px;
    margin-left: 7px;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
  }
  .countrySelector-dropDown.isOpen,
  .countrySelector-dropDown.visible {
    left: -170px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .countrySelector-unorderedItem--title {
    font-family: 'Latam-Sans-Bold', arial, sans-serif;
    font-size: 1em;
    line-height: 100%;
    color: #666666;
    text-align: Left;
  }
  .countrySelector-unorderedLink {
    font-family: "Latam-Sans-Regular", arial, sans-serif;
    font-size: 1em;
    line-height: 100%;
    color: #666666;
    text-align: Left;
    border: 2px solid transparent;
  }
  .countrySelector-unorderedLink:hover {
    text-decoration: underline;
  }
  .countrySelector-unorderedLink:focus {
    text-decoration: underline;
  }
}
.countrySelector.visible .countrySelector-flagLink {
  background: #e5e5e5;
}
@media (min-width: 768px) {
  .countrySelector.visible .countrySelector-flagLink {
    background: #f0f1f0;
  }
  .countrySelector:focus .countrySelector-countryText {
    color: #150067;
  }
  .countrySelector:focus .countrySelector-flagCaret--inverse:before {
    color: #150067;
  }
  .countrySelector.visible .countrySelector-flagLink .countrySelector-countryText {
    color: #150067;
  }
  .countrySelector.visible .countrySelector-flagLink .countrySelector-flagCaret:before {
    color: #150067;
  }
  .countrySelector .countrySelector-flagLink:hover .countrySelector-countryText {
    color: #150067;
  }
  .countrySelector .countrySelector-flagLink:hover .countrySelector-flagCaret:before {
    color: #150067;
  }
}
@media (min-width: 960px) {
  .countrySelector-flagLink:focus .countrySelector-flagCaret:before {
    color: #b8b8b8;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .countrySelector .countrySelector-flagLink .countrySelector-flagCaret {
    top: 9px;
  }
}
.MobileMenu {
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  position: fixed;
  right: -92%;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  width: 85%;
  z-index: 10;
}
.MobileMenu--open {
  right: 0px;
}
.MobileMenu-content--pushed {
  position: relative;
  right: 0;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}
.MobileMenu--noPadding {
  padding: 0px;
}
.MobileMenu--notDisplay {
  display: none;
}
.MobileMenu-mask {
  background-color: rgba(0, 0, 0, 0.58);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.MobileMenu-mask--visible {
  display: block;
}
@media only screen and (min-width: 768px) {
  .MobileMenu {
    background-color: transparent;
    padding-top: 0;
    position: static;
    width: auto;
    float: right;
  }
}
@media only screen and (min-width: 960px) {
  .MobileMenu {
    float: none;
    padding-right: 10px;
  }
}
.PreventScroll {
  overflow: hidden;
}
.MainNav {
  height: auto;
  list-style: none;
}
.MainNav-svg {
  fill: currentColor;
}
.MainNav-textBold {
  color: #303030;
}
.MainNav-icon {
  margin-right: 10px;
  margin-top: 8px;
}
.MainNav-icon:before {
  color: #1b0088;
}
.MainNav-iconImg {
  float: left;
  height: 24px;
  margin-right: 15px;
  margin-top: 5px;
  width: 24px;
}
.MainNav-menu {
  height: 100%;
  list-style: none;
  margin-bottom: 0;
  overflow: initial;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.MainNav-menuItem,
.MainNav-menuItem-bcs {
  border-bottom: solid 1px #cccccc;
  color: #fff;
  display: block;
  float: none;
  font-family: "Latam-Sans-Regular", arial, sans-serif;
  height: 100%;
  line-height: 120%;
  margin-left: 10px;
  padding: 0 5px;
  position: static;
}
.MainNav-menuItem--lanpass {
  border-bottom: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  display: none;
}
.MainNav-menuItem--fidelidade {
  display: none;
}
.MainNav-nestedMenuItem {
  height: 100%;
}
.MainNav-link {
  height: 100%;
}
.MainNav-menuItem--separator {
  border-top: solid 2px #999999;
}
.MainNav-menuItem--first {
  border-top: 0;
}
.MainNav-menuLink {
  color: #666666;
  display: table-cell;
  font-family: "Latam-Sans-Regular", arial, sans-serif;
  height: 44px;
  line-height: 100%;
  min-height: auto;
  padding: 4px 0;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
}
.MainNav-menuLink:hover,
.MainNav-menuLink:active,
.MainNav-menuLink-hover {
  outline: none;
}
.MainNav-menuLink:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.MainNav-menuLink--first {
  font-size: 1.14em;
  color: #303030;
  display: table-cell;
  vertical-align: bottom;
}
.MainNav-menuLink:hover,
.MainNav-menuLink:focus {
  text-decoration: underline;
}
.MainNav-textBold {
  font-size: 1.14em;
  color: #303030;
  display: initial;
  font-family: "Latam-Sans-Regular", arial, sans-serif;
  font-weight: normal;
  line-height: 100%;
}
.MainNav-textDefault {
  font-size: 1.14em;
  color: #303030;
  font-family: "Latam-Sans-Regular", arial, sans-serif;
  line-height: 120%;
}
.MainNav-subMenu {
  display: none;
  left: 0;
  position: absolute;
  top: 71px;
  width: 99.9%;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .MainNav {
    height: 62px;
  }
  .MainNav-menu {
    overflow: initial;
    padding-left: 24px;
  }
  .MainNav-menuLink {
    border: 2px solid transparent;
    color: #fff;
    display: block;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    height: 100%;
    min-height: 62px;
    padding: 10px 5px;
  }
  .MainNav-menuLink--first {
    font-size: 1em;
    color: #fff;
    line-height: 120%;
  }
  .MainNav-menuItem {
    border: 0;
    float: left;
    margin-left: 0;
    padding: 0;
  }
  .MainNav-menuItem--lanpass {
    margin-bottom: 0;
    margin-top: 0;
  }
  .MainNav-menuLink:hover,
  .MainNav-menuLink:focus {
    color: #fff;
  }
  .MainNav-menuLink:focus {
    outline-offset: -2px;
  }
  .MainNav-textBold {
    font-size: 0.929em;
    color: #fff;
    display: block;
    font-family: 'Latam-Sans-Bold', arial, sans-serif;
    line-height: 120%;
  }
  .MainNav-textDefault {
    color: #fff;
    font-size: 1.071em;
  }
  .MainNav-downCaret {
    color: #f53859;
    float: none;
    font-size: 11px;
  }
  .MainNav-downCaret::before {
    color: #f53859;
  }
}
@media only screen and (min-width: 960px) {
  .MainNav {
    height: 80px;
  }
  .MainNav-menu {
    padding-left: 0;
  }
  .MainNav-menuLink {
    border: 2px solid transparent;
    color: #fff;
    min-height: 80px;
    padding: 24px 20px;
  }
  .MainNav-menuLink--table {
    padding-left: 11px;
    padding-right: 0;
  }
  .MainNav-menuItem {
    margin-left: 0;
  }
  .MainNav-textBold {
    font-size: 1em;
  }
  .MainNav-textDefault {
    font-size: 1.14em;
  }
}
.MainNav .MainNav-menuItem.isProcessMenuItem {
  border-top: 0;
  padding-top: 0;
}
.MainNav .MainNav-menuItem.visible-xs .MainNav-menuLink {
  font-size: 1.14em;
  color: #666666;
}
.MainNav .MainNav-menuLink .MainNav-downCaret {
  display: none;
}
@media only screen and (min-width: 768px) {
  .MainNav .MainNav-menuLink .MainNav-downCaret {
    display: inline-block;
    margin-left: 5px;
  }
}
.MainNav .MainNav-menuItem .MainNav-menuLink:focus {
  outline-color: #b8b8b8;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media only screen and (min-width: 768px) {
  .MainNav .MainNav-menuItem.MainNav-menuItem--lanpass .MainNav-menuLink {
    padding-right: 0;
  }
  .MainNav .MainNav-menuItem:hover .SubMenu,
  .MainNav .MainNav-menuItem .visible,
  .MainNav .MainNav-menuItem:hover .MainNav-menuLink .SubMenu-arrow {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    visibility: visible;
  }
  .MainNav .MainNav-menuItem:hover .MainNav-downCaret:before {
    content: "\e60a";
  }
  .MainNav .MainNav-menuItem .active .MainNav-downCaret:before {
    content: "\e60a";
  }
  .MainNav .isActive.MainNav-menuItem {
    border-bottom: 10px solid #b30f3b;
  }
}
.SubMenu {
  display: block;
  height: auto;
  left: 0;
  opacity: 0;
  padding: 0 20px 20px 20px;
  position: absolute;
  top: 70px;
  -webkit-transition: visibility 0.5s;
  transition: visibility 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}
.SubMenu-link {
  text-decoration: none;
}
.SubMenu-link:hover,
.SubMenu-link:focus {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .SubMenu {
    background: #f3f3f2;
    padding: 0;
    top: 62px;
  }
  .SubMenu-dropdown {
    margin-top: 27px;
  }
  .SubMenu-arrow {
    border-bottom: 16px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: -2px;
    display: block;
    font-size: 0px;
    height: 16px;
    left: 0;
    line-height: 0px;
    margin: auto;
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 25px;
    z-index: 2;
  }
  .SubMenu-table {
    float: right;
    display: table;
    min-height: 278px;
    height: 100%;
    width: 75%;
  }
  .SubMenu-row {
    display: table-row;
  }
  .SubMenu-cell {
    background: #f3f3f2;
    display: table-cell;
    height: 100%;
  }
  .SubMenu-cell--horizontal {
    display: table-cell;
    vertical-align: bottom;
    padding: 0;
    text-align: right;
    width: 100%;
  }
  .SubMenu-callToAction {
    font-size: 1.14em;
    text-decoration: underline;
  }
  .SubMenu-button {
    border-radius: 3px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    width: 157.390625px;
  }
  .SubMenu-content {
    background: #f3f3f2;
    border-radius: 1px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 1px 1.68px 1.32px rgba(0, 2, 0, 0.5);
    box-shadow: 0 1px 1.68px 1.32px rgba(0, 2, 0, 0.5);
    height: auto;
    min-height: 278px;
    position: relative;
  }
  .SubMenu-aside {
    position: absolute;
    color: white;
    height: 100%;
    padding: 20px 10px;
  }
  .SubMenu-aside--firstVersion {
    background-position: center;
    background: url("http://dummyimage.com/240x285/ccc/fff.png");
    height: auto;
    min-height: 278px;
    text-align: right;
  }
  .SubMenu-aside--secondVersion {
    background: #e1e1e1;
    min-height: 274px;
    overflow: hidden;
  }
  .SubMenu-aside--left {
    text-align: left;
  }
  .SubMenu-aside--list {
    padding: 57px 20px 28px 20px;
  }
  .SubMenu-aside--info {
    padding: 36px 20px 28px 20px;
  }
  .SubMenu-linkList {
    height: 48px;
    margin-bottom: 14px;
    text-align: left;
    width: 100%;
  }
  .SubMenu-linkList:last-child {
    margin-bottom: 0;
  }
  .SubMenu-link {
    display: table;
    border: 2px solid transparent;
    margin-left: -2px;
  }
  .SubMenu-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .SubMenu-link:hover,
  .SubMenu-link:focus {
    color: #150067;
  }
  .SubMenu-icon {
    display: table-cell;
    float: left;
    height: 48px;
    margin-right: 10px;
    width: 48px;
  }
  .SubMenu-linkText {
    font-size: 1em;
    color: #150067;
    display: table-cell;
    font-family: "Latam-Sans-Regular", arial, sans-serif;
    height: 48px;
    line-height: 120%;
    text-align: left;
    vertical-align: middle;
  }
  .SubMenu-linkText:hover {
    text-decoration: underline;
  }
  .SubMenu-btn {
    bottom: 10px;
    position: absolute;
    right: 15px;
  }
  .SubMenu-thumbnail {
    border-radius: 50%;
    height: 115px;
    margin-bottom: 11px;
    -webkit-transition: none;
    transition: none;
    width: 115px;
  }
  .SubMenu-title {
    font-size: 1.43em;
    border-bottom: 1px solid #666666;
    font-family: "Latam-Sans-Regular", arial, sans-serif;
    line-height: 120%;
    margin-bottom: 0;
  }
  .SubMenu-title--firstColumn {
    border-bottom: none;
    color: #fff;
  }
  .SubMenu-title--firstColumn-strong {
    border-bottom: none;
    color: #fff;
    font-family: 'Latam-Sans-Bold', arial, sans-serif;
    line-height: 100%;
  }
  .SubMenu-title--noBorder {
    border: none;
  }
  .SubMenu-info {
    margin-bottom: 16px;
    text-align: left;
  }
  .SubMenu-iconText {
    display: table-cell;
  }
  .SubMenu-iconText:before {
    color: #ed1650;
    margin-right: 10px;
  }
  .SubMenu-text {
    display: table-cell;
    line-height: 1;
  }
  .SubMenu-section {
    padding: 20px 0 10px 0;
  }
  .SubMenu-section--gray {
    color: #666666;
  }
}
@media (min-width: 960px) {
  .SubMenu {
    margin-top: 10px;
    top: 70px;
  }
  .SubMenu-dropdown {
    margin-top: 27px;
  }
  .SubMenu-button {
    font-size: 0.86em;
  }
  .SubMenu-aside {
    padding: 15px;
  }
  .SubMenu-aside--secondVersion {
    padding: 22px 22px 22px 6px;
    min-height: 278px;
  }
  .SubMenu-title {
    font-size: 1.71em;
    color: #303030;
    line-height: 100%;
    text-align: left;
  }
  .SubMenu-title--firstColumn {
    text-align: right;
    width: 100%;
  }
  .SubMenu-title--firstColumn-strong {
    text-align: right;
  }
  .SubMenu-title--noBorder {
    text-align: right;
  }
  .SubMenu-section {
    padding: 28px 20px 20px 20px;
  }
  .SubMenu-section:first-child {
    padding-right: 10px;
  }
  .SubMenu-section:last-child {
    padding-left: 10px;
  }
  .SubMenu-linkText {
    font-size: 1.14em;
  }
}
.SubMenu .SubMenu-btn .Btn {
  margin-bottom: 0;
}
.SubMenu .SubMenu-cell--horizontal a {
  border: 2px solid transparent;
  margin-bottom: 0;
}
.SubMenu .SubMenu-cell--horizontal a:hover span {
  text-decoration: none;
}
.SubMenu .SubMenu-cell--horizontal a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.SubMenu .SubMenu-cell--horizontal a:focus span {
  color: #2d34ce;
}
@media (min-width: 768px) {
  .SubMenu .SubMenu-cell--horizontal .icon-caret-right {
    float: none;
  }
  .SubMenu .SubMenu-aside .SubMenu-aside--info a {
    font-size: 1em;
    display: block;
    line-height: 29px;
  }
  .SubMenu .SubMenu-Menu li {
    margin-top: 7px;
  }
  .SubMenu .SubMenu-Menu li:first-child {
    margin-top: 0;
  }
  .SubMenu .SubMenu-Menu a {
    color: #303030;
    font-size: 14px;
    line-height: 120%;
  }
  .SubMenu .SubMenu-text strong {
    font-size: 1em;
  }
  .SubMenu .SubMenu-text span {
    font-size: 0.86em;
  }
  .SubMenu .SubMenu-section h3 {
    font-size: 1.43em;
    line-height: 100%;
    margin-bottom: 15px;
    padding-bottom: 0;
  }
  .SubMenu .SubMenu-section .gray {
    color: #666666;
    border-bottom: 1px solid #666666;
  }
  .SubMenu .SubMenu-section .SubMenu-section--gray a {
    color: #666666;
  }
}
@media (min-width: 960px) {
  .SubMenu .SubMenu-Menu li {
    margin-top: 4px;
  }
  .SubMenu .SubMenu-Menu a {
    font-size: 1em;
  }
  .SubMenu .SubMenu-section h3 {
    padding-bottom: 5px;
  }
  .SubMenu .SubMenu-section .SubMenu-section--gray a {
    color: #606060;
  }
}

/*# sourceMappingURL=maps/header-latam.css.map */

@media (min-width: 768px) {
  .before-country-selector__container {
    border-right: 1px solid #b8b8b8;
  }
}
.before-country-selector__color,
.before-country-selector__color:before,
.before-country-selector__color:hover,
.before-country-selector__color:active,
.before-country-selector__color:focus,
.MainNav .MainNav-menuItem.visible-xs .before-country-selector__color {
  color: #00B5AD;
}
.before-country-selector__container .before-country-selector__icon-desktop-structure {
  height: 33px;
  line-height: 33px;
}
.before-country-selector__item,
.before-country-selector__item:hover,
.before-country-selector__item:active,
.before-country-selector__item:focus {
  font-family: "Latam-Sans-Bold", arial, sans-serif;
  font-size: 14px;
}
.before-country-selector__item-mobile {
  font-family: "Latam-Sans-Bold", arial, sans-serif;
  font-size: 1.14em;
}
