<script>
    var pagePath = ''; // add the current page path by using the Use-API
</script>

<!-- static libraries -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.js @ categories='latam.static.jquery,latam.static.bootstrap'}"/>

<!-- Angular -->
<!--[if gt IE 8]><!--> <script src="/static/latam/scripts/angular/angular.min.js" type="text/javascript"></script> <!--<![endif]-->

<!-- static angular modules -->
<sly data-sly-call="${clientlib.js @ categories='latam.static.angular-modules'}"/>

<!-- Angular Filters -->
<script data-sly-include="AEMGlobalConfig.html">
</script>

<div data-sly-include="latam-commons-scripts.html" data-sly-unwrap></div>

<sly data-sly-call="${clientlib.js @ categories='latam.mainsite'}"/>

<div data-sly-include="extrascripts.html" data-sly-unwrap></div>

