<!-- Site CSS -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.css @ categories='latam.static.bootstrap'}"/>

<!-- LATAM web guide lines -->
<link rel="stylesheet" href="//s.latamstatic.com/layout/ui/3/css/global.min.css">
<link rel="stylesheet" href="//s.latamstatic.com/layout/ui/3/css/latam-mu.min.css">

<div data-sly-include="base-inline-style.html" data-sly-unwrap></div>

<div data-sly-include="extrastyles.html" data-sly-unwrap></div>
