<main role="main" class="ha-waypoint" id="maincontent" tabindex="-1">

    <div class="container-fluid container-fluid--margin" data-sly-resource="${'cabeceraSubHomeServicios' @ resourceType='latamHomeApp/components/content/cabeceraSubHomeServicios'}">
    </div>

    <div class="container">

        <!-- Begins html content -->
        <br data-sly-test="${wcmmode.edit || wcmmode.design}"/>

        <div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </div>
</main>
<div data-sly-resource="${'loginServicios' @ resourceType='latamHomeApp/components/content/loginServicios'}"></div>

