/* Set padding 0 */
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
/* Set margin 0 */
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.bg-gray {
  background: #9b9b9b;
}
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}
@media screen and (max-width: 767px) {
  .container-xs-height {
    width: 100%;
  }
}
.row-xs-height {
  display: table-row;
}
.col-xs-height {
  display: table-cell;
  float: none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-sm-height {
    display: table-row;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.col-center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* fix firefox responsive images */
.img-responsive {
  width: 100%;
}
.container-fluid--noPadding {
  padding-left: 0;
  padding-right: 0;
}
.container-fluid--margin {
  margin-bottom: 40px;
}
@media (min-width: 768px) and (max-width: 960px) {
  .hidden-tablet {
    display: none !important;
  }
  .visible-tablet {
    display: block!important;
  }
}
@media (min-width: 960px) {
  .hidden-desktop {
    display: none !important;
  }
  .visible-desktop {
    display: block !important;
  }
}