<footer role="contentinfo" class="footer">
  <div ng-hide="process" class="container hidden-sm hidden-xs">
    <div class="footer-airport">
      <div class="row">
        <div class="col-md-12">
          <img src="assets/images/design-image/airport-footer.png" alt="Airport image footer" />
        </div>
      </div>
    </div>
  </div>
  <div ng-hide="process" class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-socialLinks">
            <ul class="footer-unorderedList--social list-inline">
              <li class="footer-unorderedItem--social"><a class="footer-unorderedLink" title="Twitter" href="#"><span class="icon-twitter icon-small footer-icon--medium"></span></a></li>
              <li class="footer-unorderedItem--social"><a class="footer-unorderedLink" title="Facebook" href="#"><span class="icon-facebook icon-small footer-icon--medium"></span></a></li>
              <li class="footer-unorderedItem--social hidden-xs hidden-sm"><a class="footer-unorderedLink" title="Google" href="#"><span class="icon-google icon-small footer-icon--medium"></span></a></li>
              <li class="footer-unorderedItem--social hidden-xs hidden-sm"><a class="footer-unorderedLink" title="Instagram" href="#"><span class="icon-instagram icon-small footer-icon--medium"></span></a></li>
              <li class="footer-unorderedItem--social hidden-xs hidden-sm"><a class="footer-unorderedLink" title="Linkedin" href="#"><span class="icon-linkedin icon-small footer-icon--medium"></span></a></li>
              <li class="footer-unorderedItem--social hidden-xs hidden-sm"><a class="footer-unorderedLink" title="Pinterest" href="#"><span class="icon-pinterest icon-small footer-icon--medium"></span></a></li>
              <li class="footer-unorderedItem--social"><a class="footer-unorderedLink" title="Youtube" href="#"><span class="icon-youtube icon-small footer-icon--medium"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm footer-contentLinks">
        <div class="row">
          <div class="col-md-3">
            <h3 class="footer-headLineH3">Conócenos</h3>
            <ul class="footer-unorderedList">
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Sala de prensa</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Sostenibilidad LAN</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Información para inversionistas</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Trabajar en LAN</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Información tarifas LAN CARGO</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Oneworld</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Mapa del sitio</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="footer-headLineH3">Portales Asociados</h3>
            <ul class="footer-unorderedList">
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">LAN CARGO</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">MUNDOLAN</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Staff Travel</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Chilecompra</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="footer-headLineH3">Información al consumidor</h3>
            <ul class="footer-unorderedList">
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Términos y condiciones de pasajes</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Información al consumidor</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Cargo por combustible</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Condiciones del contrato de transporte</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Intercambio de slots aeropuerto Sao Paulo</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Términos de uso</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Privacidad</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="footer-headLineH3">Información legal</h3>
            <ul class="footer-unorderedList">
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Términos de uso</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Intercambio de slots Sao Paulo (GRU)</a></li>
            </ul>
            <h3 class="footer-headLineH3 voffset35">Links de interés</h3>
            <ul class="footer-unorderedList">
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Academia de ciencias aeronáuticas</a></li>
              <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="#">Lufthansa LAN Technical Training</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div ng-hide="!payment" class="hidden-xs hidden-sm footer-contentExtra">
        <div class="row">
          <div class="col-md-6">
            <p class="footer-paragraph--extra">Los métodos de pago disponibles para la venta están condicionados por la tarifa, el destino y la fecha seleccionada para el viaje.</p>
          </div>
          <div class="col-md-6">
            <ul class="footer-unorderedList footer-unorderedList--extra">
              <li class="footer-unorderedItem--extra"><img src="assets/images/content-image/paypal-logo.png" alt=""/></li>
              <li class="footer-unorderedItem--extra"><img src="assets/images/content-image/visa-logo.png" alt=""/></li>
              <li class="footer-unorderedItem--extra"><img src="assets/images/content-image/master-logo.png" alt=""/></li>
              <li class="footer-unorderedItem--extra"><img src="assets/images/content-image/amx-logo.png" alt=""/></li>
              <li class="footer-unorderedItem--extra"><img src="assets/images/content-image/secure-visa-logo.png" alt=""/></li>
              <li class="footer-unorderedItem--extra"><img src="assets/images/content-image/secure-master-logo.png" alt=""/></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm footer-contentExtra">
        <div class="footer-contentLegal">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-paragraph--legal">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ducimus magni ea, nam facere, ab repudiandae earum architecto totam pariatur ullam dolor, culpa qui libero doloremque molestias praesentium, fugiat deserunt.</p>
                <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus soluta atque distinctio quibusdam tempora dicta voluptatibus similique.</p>
                <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus soluta atque distinctio quibusdam tempora dicta voluptatibus similique, dignissimos.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ducimus magni ea, nam facere, ab repudiandae earum architecto totam pariatur ullam dolor, culpa qui libero doloremque molestias praesentium, fugiat deserunt.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-process">
    <div class="container container-md-height">
      <div class="row row-md-height">
        <div ng-hide="!tam" class="hidden-xs hidden-sm col-md-1 col-md-height col-middle">
          <img src="assets/images/design-image/tam-logo-footer.jpg" alt="Logo LAN"/>
        </div>
        <div ng-hide="tam" class="hidden-xs hidden-sm col-md-2 col-md-height col-middle">
          <img src="assets/images/design-image/lan-logo-footer.png" alt="Logo LAN"/>
        </div>
        <div ng-hide="process" class="hidden-md hidden-lg footer-contentLinks">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-inline footer-unorderedList">
                <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="">Conócenos</a></li>
                <li class="footer-unorderedItem--links"><a class="footer-unorderedLink footer-unorderedLink--links" href="">Información legal</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-height no-padding">
          <div class="footer-processCopy">
            <p class="footer-paragraph--copy footer-copyright">© 2014 LATAM AIRLINES GROUP S.A.</p>
            <p class="footer-paragraph--copy footer-copyright">Todos los derechos reservados.</p>
            <p class="footer-paragraph--copy hidden-xs hidden-sm footer-secondline">Dirección: Av. Américo Vespucio 901, Renca, Santiago de Chile</p>
            <p class="footer-paragraph--copy hidden-xs hidden-sm footer-thirdline">Teléfono: 600 526 2000</p>
          </div>
        </div>
        <div ng-hide="process" class="hidden-xs hidden-sm col-md-3 col-md-height">
          <div class="footer-processCertificate">
            <h4 class="footer-headLineH4">Sitio certificado por:</h4>
            <ul ng-hide="!tam" class="list-unstyled footer-unorderedList">
              <li class="footer-unorderedItem--tam">
                <img class="footer-processCertificateImage" src="assets/images/content-image/ssl_pro_validado.png" alt="Cybertrust logo"/>
              </li>
              <li class="footer-unorderedItem--tam">
                <img class="footer-processCertificateImage" src="assets/images/content-image/website_verificado.png" alt="Data Logo"/>
              </li>
            </ul>
            <ul ng-hide="tam" class="list-inline footer-unorderedList">
              <li>
                <img class="footer-processCertificateImage" src="assets/images/content-image/cybertrust-logo.png" alt="Cybertrust logo"/>
              </li>
              <li>
                <img class="footer-processCertificateImage" src="assets/images/content-image/logo-data.png" alt="Data Logo"/>
              </li>
            </ul>
          </div>
        </div>
        <div ng-hide="process || !tam" class="hidden-xs hidden-sm col-md-2 col-md-height no-padding">
          <div class="asociado">
            <h4 class="footer-headLineH4">Associado</h4>
            <ul class="list-unstyled footer-unorderedList">
              <li><img class="footer-processCertificateImage" src="assets/images/content-image/abear.png" alt="Award Icon"/></li>
            </ul>
          </div>
        </div>
        <div ng-hide="process || !tam" class="hidden-xs hidden-sm col-md-2 col-md-height no-padding">
          <div class="footer-processAwards">
            <h4 class="footer-headLineH4">Premios</h4>
            <ul class="footer-unorderedList footer-unorderedList--awards">
              <li class="footer-unorderedItem--awards"><img class="footer-processCertificateImage" src="assets/images/content-image/award-icon.png" alt="Award Icon"/></li>
              <li class="footer-unorderedItem--awards"><img class="footer-processCertificateImage" src="assets/images/content-image/award-icon.png" alt="Award Icon"/></li>
            </ul>
          </div>
        </div>
        <div ng-hide="process || tam" class="hidden-xs hidden-sm col-md-3 col-md-height no-padding">
          <div class="footer-processAwards">
            <h4 class="footer-headLineH4">Premios</h4>
            <ul class="footer-unorderedList footer-unorderedList--awards">
              <li class="footer-unorderedItem--awards"><img class="footer-processCertificateImage" src="assets/images/content-image/award-icon.png" alt="Award Icon"/></li>
              <li class="footer-unorderedItem--awards"><img class="footer-processCertificateImage" src="assets/images/content-image/award-icon.png" alt="Award Icon"/></li>
              <li class="footer-unorderedItem--awards"><img class="footer-processCertificateImage" src="assets/images/content-image/award-icon.png" alt="Award Icon"/></li>
            </ul>
          </div>
        </div>
        <div ng-hide="process && !tam" class="hidden-xs hidden-sm col-md-7 col-md-height"></div>
        <div ng-hide="process && tam" class="hidden-xs hidden-sm col-md-6 col-md-height"></div>
      </div>
    </div>
  </div>
</footer>
