
      <div class="hidden-xs  footer-contentLinks" data-sly-use.links="${'com.latam.home.core.models.FooterLinksModel'}"> 
       <div class="row"> 
        <div class="col-xs-3  col-sm-3  col-md-3">
         <h3 class="footer-headLineH3"> ${globalProperties.titleColumnA}</h3> 
         <ul class="footer-unorderedList" data-sly-list="${links.firstColumnList}"> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="${item.link.path @ extension = 'html'}" target="${item.link.target}" title="${item.link.alttext}"> ${item.link.title} </a> </li> 
         </ul> 
        </div> 
        <div class="col-xs-3  col-sm-3  col-md-3"> 
         <h3 class="footer-headLineH3"> ${config.test}:${config.algo} </h3> 
         <ul class="footer-unorderedList"> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com" target="_self" title="Condiciones del contrato de transporte"> Condiciones del contrato de transporte </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com/es_cl/transparencia/seguridad-y-privacidad/seguridad/" target="_self" title="Seguridad y privacidad"> Seguridad y privacidad </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com" target="_self" title="Términos de uso"> Términos de uso </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com" target="_self" title="Conoce tus derechos"> Conoce tus derechos </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com/es_cl/transparencia/seguridad-y-privacidad/seguridad/" target="_self" title="Compra seguro"> Compra seguro </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com/es_cl/cotiza-y-compra/cargos-por-combustible-y-por-servicio/cargos-por-combustible-fuel-surcharge/" target="_self" title="Cargos por combustible y por servicio"> Cargos por combustible y por servicio </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="https://www.latam.com" target="_self" title="Términos y condiciones de pasajes"> Términos y condiciones de pasajes </a> </li> 
         </ul> 
        </div> 
        <div class="col-xs-3  col-sm-3  col-md-3"> 
         <h3 class="footer-headLineH3"> Portales asociados </h3> 
         <ul class="footer-unorderedList"> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="http://www.latamcargo.com/es/" target="_blank" title="LATAM Cargo"> LATAM Cargo </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="http://www.lan.com/asociados/" target="_blank" title="MUNDOLATAM"> MUNDOLATAM </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="http://portal.lan.com/portal/web/stafftravel/tus-pasajes-latam" target="_blank" title="Staff Travel"> Staff Travel </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="http://www.mercadopublico.cl/Portal/login.aspx" target="_blank" title="Chilecompra"> Chilecompra </a> </li> 
         </ul> 
        </div> 
        <div class="col-xs-3  col-sm-3  col-md-3"> 
         <h3 class="footer-headLineH3"> Links de interés </h3> 
         <ul class="footer-unorderedList"> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="http://www.aca.cl/" target="_blank" title="Academia de Ciencias Aeronáuticas"> Academia de Ciencias Aeronáuticas </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="http://chilevacontigo.minrel.gob.cl/" target="_blank" title="Chile va contigo"> Chile va contigo </a> </li> 
          <li class="footer-unorderedItem--links"> <a class="footer-unorderedLink footer-unorderedLink--links" href="http://www.latamairlinesgroup.net/phoenix.zhtml?c=81136&amp;p=irol-newsArticle&amp;ID=2038435" target="_blank" title="Intercambio de slots Sao Paulo (GRU)"> Intercambio de slots Sao Paulo (GRU) </a> </li> 
         </ul> 
        </div> 
       </div> 
      </div>
